html,
body {
	height: 100%;
}

img {
	max-width: 100%;
}

#hero {
	background: #222 url('../img/asia/asia1.jfif') center right no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.form-inline {
	justify-content: center;
}
#hero-caption {
	width: 100%;
}

.section-content {
	padding: 5rem 0;
}
#about {
	background: url('./img/girlincar.jpg') center center no-repeat;
	background-size: cover;
}
.about-text {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 1.875rem;
  border-radius: 20px;
}

#footer-main {
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}
