html,
body {
  height: 100%;
  scroll-behavior: smooth;

}

img {
  width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
  padding-top: 70px;
}

.hero {
  background: #222 url('../img/asia/asia1.jpg') center right no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &__text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.875rem;
    border-radius: 20px;
    text-shadow: 1px 1px black,
      1px 2px 15px white;
  }

  &__paragraph {
    font-size: 1.6rem;
    color: whitesmoke;

  }

  &__buttonText {
    text-shadow: none;
  }
}

.aboutme {
  background-size: cover;
}



.publications {
  background: #222 url('../img/papers_bgr.jpg');
  background-size: cover;
}

.abstract__text {
  max-height: 400px;
  overflow-y: auto;
}

.projects {
  background-color: turquoise;
}

@media(max-width: 576px) {

  //as small
  .hero {
    &__paragraph {
      font-size: 1rem;
    }

    &__header {
      font-size: 1.5rem;
    }
  }
}